@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

/*          NAV BAR        */

nav{
    padding: 1vh 8vw;
    display: flex;
    align-items: center;
    gap: 10vw;
    background-color: #f5ebe0;
}

.logo{
    background-image: url('./Images/logo.png');
    height: 10vh;
    width: 10vw;
    background-size: 100% 100%;
}

.list ul{
    display: flex;
    gap: 2vw;
}

.list a{
    font-size: 2vw;
    font-weight: 500;
    position: relative;
}

.list a:after{
    z-index: 100;
    position: absolute;
    content: "";
    background-color: aqua;
    left: 0;
    height: 0.8vh;
    width: 0;
    bottom: -0.5vh;
    transition: all ease 0.7s;
}

.list a:hover::after{
    width: 100%;
}
/*          NAV BAR        */

