@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

/*          NAV BAR        */

nav{
    
    display: flex;
}
.logo{
    background-image: url('./Images/logo.png');
    height: 10vh;
    width: 10vw;
    background-size: 100% 100%;
}

/*          NAV BAR        */

